@model RentABike.ViewModels.CreationBikeViewModel

@{
    ViewBag.Title = "Create New Bike";
}

<div class="content">
<h2>Create New Bike</h2>
@using (Html.BeginForm("CreateNewBike", "Bike", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="form-group">
            <div class="col-md-2" align="right">
                <label>Image </label>
                <label style="color: darkgrey">(Click on the image to load your picture)</label>
            </div>
            <div class="content__image_block clearfix">
                <img class="content__main_image" alt="bikePhoto" src="~/Content/Images/image.png"/>
                <input hidden name="Base64Image" id="Base65Image"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BikeTypeId, new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.BikeTypeId, Model.BikeTypes.Select(c => new SelectListItem {Text = c.Type, Value = c.Id.ToString()}), new {@class = "form-control input-sm"})
            </div>
            <a href="#createTypeOfBikeFormModal" data-toggle="modal" id="typeItem" title="Add new Bike Type">
                <i class="fa fa-plus-square fa-2x" style="color: #8ae2a2;"></i>
            </a>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BikeModel, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.BikeModel, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.BikeModel, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new {@class = "form-control", rows = "5"})
                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RentPoints, new {@class = "control-label col-md-2"})
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.RentPointId, Model.RentPoints.Select(c => new SelectListItem {Text = c.Name + ',' + c.Address, Value = c.Id.ToString()}), new {@class = "form-control input-sm", id="ValueListId"})
            </div>
            <a href="#createRentPointFormModal" data-toggle="modal" id="item" title="Add new Rent Point">
                <i class="fa fa-plus-square fa-2x" style="color: #8ae2a2;"></i>
            </a>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>

    <div id="overlay"></div>
    <div class="content__pop-up">
        <div class="content__pop-up_main">
            <div class="clearfix">
                <h3>Download a picture of the bike</h3>
                <span class="content__pop-up_close">
                    <i class="fa fa-times fa-3x content__pop-up_close" aria-hidden="true"></i>
                </span>
            </div>
            <div class="content__pop-up_text">
                You can download the image in JPG, JPEG, PNG, BMP format. The file size must not exceed 3 Mbyte.
            </div>
            <label for="fileInput" class="content__upload_label text-center">
                <div class="content__pop-up_button btn btn-primary" id="choose_image_button">
                    Choose image
                </div>
            </label>
            <input type="file" class="content__pop-up_upload" id="fileInput" name="fileInput" accept="image/jpg,image/jpeg,image/png,image/bpm" />
            <div class="content__pop-up_image text-center" >
                <div class="content__image_wrapper">
                </div>
                <button class="content__pop-up_button btn btn-primary" id="upload_photo_button" type="button">Upload photo</button>
            </div>
        </div>
    </div>
}

@*Modal dialog for creation Type of Bike*@
<div id="createTypeOfBikeFormModal" class="modal fade">
    <div class="modal-dialog">
        @{ Html.RenderAction("CreateNewTypeOfBike", "TypeOfBike");}
    </div>
</div>

@*Modal dialog for creation Rent Point*@
<div id="createRentPointFormModal" class="modal fade">
    <div class="modal-dialog">
        @{ Html.RenderAction("CreateNewRentPoint", "RentPoint");}
    </div>
</div>

</div>

<script src="~/Scripts/fadeIn.js"></script>