@model IEnumerable<RentABike.Models.BikeType>

@{
    ViewBag.Title = "All type of bikes";
    Layout = null;
}

<div>
    <div class="btn-group">
        @Html.ActionLink("Add new type", "CreateNewTypeOfBike", "TypeOfBike", null, new { @class = "btn btn-primary itemCreate" })
    </div>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>@Html.Label("Actions")</th>
        </tr>
        @{
            foreach (var bikeType in Model)
            {
                <tr id="row_@bikeType.Id">
                    <td>
                        @bikeType.Type
                    </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" id="droplist" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-edit"></span>
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li>@Html.ActionLink("Show bikes of this type", "ShowBikesOfType", "TypeOfBike", new { bikeTypeId = bikeType.Id }, new { @id = "bikeTypeModal" })</li>
                                <li>@Html.ActionLink("Delete", "DeleteTypeOfBike", "TypeOfBike", new { bikeTypeId = bikeType.Id }, new{@class="itemCreate"})</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        }
    </table>
</div>

@*Modal dialog for creation/editing Tarriff*@
<div id="FormModal" class="modal fade">
    <div class="modal-dialog" id="modDialog">
    </div>
</div>
<script type="text/javascript">

    $(".itemCreate").click(function (e) {

        e.preventDefault();
        $.get(this.href, function (data) {
            $('#modDialog').html(data);
            $('#FormModal').modal('show');
            $.validator.unobtrusive.parse("#FormModal");
        });
    });
</script>