@using Roles = RentABike.Models.Constants.Roles
@model RentABike.ViewModels.EditPersonalUserInfoViewModel

    @{
        ViewBag.Title = "Edit personal information";
    }

    <div class="container">
        <h3>Your personal information</h3>
        <hr />

        @using (Html.BeginForm("ChangePersonalInfo", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {        
            @Html.AntiForgeryToken()

            <div class="validation-summary-errors">
                @Html.ValidationSummary()
            </div>
            <div class="form-group">
                <div class="col-md-3" align="right">
                    <label>Photo </label>
                    <label style="color: darkgrey">(Click on the image to load your photo)</label>
                </div>
                <div class="content__image_block clearfix">

                    @if (Model.Base64Image != null)
                    {
                        <img class="content__main_image" src="data:image/jpeg;base64, @Model.Base64Image" />
                    }
                    else
                    {
                        <img class="content__main_image" src="~/Content/Images/no_avatar.png">
                    }
                    <input hidden name="Base64Image" id="Base64Image" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Surname, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control input-md", placeholder = "Enter your Surname" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-md", placeholder = "Enter your Name" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Patronymic, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Patronymic, new { @class = "form-control input-md", placeholder = "Enter your Patronymic" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-md", placeholder = "Enter your Email adress" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Phone, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control input-md", placeholder = "Enter your Phone", id = "phone" })
                </div>
            </div>

            if (Request.IsAuthenticated && User.IsInRole(Roles.Seller))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.RentPointId, new { @class = "col-md-3 control-label" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => m.RentPointId, Model.RentPoints.Select(c => new SelectListItem { Text = c.Name +", "+c.Address, Value = c.Id.ToString()}),"-- Select rent point --", new { @class = "form-control input-md col-sm-4" })
                        </div>
                    </div>
                }

            <hr>


            <div class="form-group">
                <label class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input type="submit" value="Save" class="btn btn-success" style="width: 45%" />
                    @Html.ActionLink("Back to Personal Account", "PersonalAccount", "Account", null, new { @class = "btn btn-default", @style = "margin: 10px" })
                </div>
            </div>

            <div id="overlay"></div>
            <div class="content__pop-up">
                <div class="content__pop-up_main">
                    <div class="clearfix">
                        <h3>Download a picture of the bike</h3>
                        <span class="content__pop-up_close">
                            <i class="fa fa-times fa-3x content__pop-up_close" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="content__pop-up_text">
                        You can download the image in JPG, JPEG, PNG, BMP format. The file size must not exceed 3 Mbyte.
                    </div>
                    <label for="fileInput" class="content__upload_label text-center">
                        <div class="content__pop-up_button btn btn-primary" id="choose_image_button">
                            Choose image
                        </div>
                    </label>
                    <input type="file" class="content__pop-up_upload" id="fileInput" name="fileInput" accept="image/jpg,image/jpeg,image/png,image/bpm" />
                    <div class="content__pop-up_image text-center">
                        <div class="content__image_wrapper">
                        </div>
                        <button class="content__pop-up_button btn btn-primary" id="upload_photo_button" type="button">Upload photo</button>
                    </div>
                </div>
            </div>

        }
    </div>
    <script src="~/Scripts/fadeIn.js"></script>
