@using PagedList.Mvc
@model PagedList.IPagedList<RentABike.Models.Bike>

<div align="center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @{
        if (ViewBag.RentPointFilter != null)
        {
            @Html.PagedListPager(Model, page => Url.Action("Index",
                new {page, rentPointFilter = ViewBag.RentPointFilter}),
                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions {HttpMethod = "GET", UpdateTargetId = "results"}))
        }
        else if (ViewBag.BikeTypeFilter != null)
        {
            @Html.PagedListPager(Model, page => Url.Action("Index",
                new {page, bikeTypeFilter = ViewBag.BikeTypeFilter}),
                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions {HttpMethod = "GET", UpdateTargetId = "results"}))
        }
        else
        {
            @Html.PagedListPager(Model, page => Url.Action("Index",
                new {page, currentFilter = ViewBag.CurrentFilter}),
                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions {HttpMethod = "GET", UpdateTargetId = "results"}))
        }
    }
</div>


@foreach (var bike in Model)
{
    Html.RenderPartial("_Bike", bike);
}

