@using Microsoft.AspNet.Identity
@model IEnumerable<RentABike.ViewModels.UserInfoViewModel>

@{
    ViewBag.Title = "title";
    Layout = null;
}

<div class="btn-group">
    @Html.ActionLink("Register new user", "Register", "Account", null, new { @class = "btn btn-primary" })
</div>
<table class="table table-striped">
    <tr>
        <th>Surname</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>@Html.Label("Actions")</th>
    </tr>
    @{
        foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.Surname
                </td>
                <td>
                    @user.Name
                </td>
                <td>
                    @user.UserEmail
                </td>
                <td>
                    @user.UserRole
                </td>


                <td>
                    <div class="dropdown">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" id="droplist">
                            <span class="glyphicon glyphicon-edit"></span>
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            @*<li>@Html.ActionLink("Details", "Details", "Bike", new { id = user.Id }, null)</li>
                            <li>@Html.ActionLink("Edit", "Edit", "Bike", new { id = user.Id }, null)</li>
                            <li>@Html.ActionLink("Delete", "", "", null, null)</li>
                            <li>@Html.ActionLink("Show rent points", "", "", null, null)</li>*@
                        </ul>
                    </div>
                </td>
            </tr>
        }
    }
</table>

